*, 
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.6rem;
}

/**
    Typography
*/

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5rem;
}